absl-py==0.12.0
alembic==1.5.8
asgiref==3.3.4
astunparse==1.6.3
attrs==20.3.0
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
Cython==0.29.22
decorator==4.4.2
easyocr==1.3.0.1
essential-generators==1.0
fastapi==0.63.0
Flask==1.1.2
flask-marshmallow==0.9.0
Flask-Migrate==2.3.0
Flask-SQLAlchemy==2.1
flatbuffers==1.12
fonttools==4.22.0
gast==0.3.3
glob2==0.7
google-auth==1.28.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.32.0
h11==0.12.0
h5py==2.10.0
idna==2.10
image-quality==1.2.7
imageio==2.9.0
imantics==0.1.12
imgaug==0.4.0
imutils==0.5.4
itsdangerous==1.1.0
Jinja2==2.11.3
jsonpickle==2.0.0
jsonschema==3.2.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
labelme2coco==0.1.2
libsvm==3.23.0.4
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
marshmallow==2.13.6
matplotlib==3.4.1
networkx==2.5.1
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
Pillow==8.2.0
pixellib==0.6.1
protobuf==3.15.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.17.3
pytesseract==0.3.7
python-bidi==0.4.2
python-dateutil==2.8.1
python-editor==1.0.4
python-resize-image==1.1.19
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
random2==1.0.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.1
scipy==1.6.2
Shapely==1.7.1
six==1.15.0
SQLAlchemy==1.2.13
sqlparse==0.4.1
starlette==0.13.6
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
tifffile==2021.3.31
torch==1.8.1
torchvision==0.9.1
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
validators==0.18.2
Werkzeug==1.0.1
wrapt==1.12.1
xmljson==0.2.1
